Repository algebra-club/TaguPy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taka-sho, @takesei, @yo-aka-gene, @gk-hazard

:art: Change file prefix
  tests/core/analyzer/test_abs_analyzer.py
  tests/core/generator/test_abs_generator.py
  tests/core/report/_test_abs_report.py
  tests/core/report/test_abs_report.py
  tests/simulator/_test_abs_simulator.py
  tests/simulator/test_abs_simulator.py
Owners: @takesei

:art: Fix Lint
  tagupy/__init__.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:art: change prefix
  tagupy/__init__.py
  tagupy/core/__init__.py
  tagupy/core/analyzer/abs_analyzer.py
  tagupy/core/generator/abs_generator.py
  tagupy/core/report/abs_report.py
  tagupy/simulator/__init__.py
  tagupy/simulator/abs_simulator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Add abstract class in this package
  tagupy/core/analyzer/abs_analyzer.py
  tagupy/core/analyzer/analyze_result.py
  tagupy/core/generator/abs_generator.py
  tagupy/core/report/abs_report.py
  tagupy/simulator/abs_simulator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:rotating_light: Remove abstract tests, and set gitkeep
  tests/core/analyzer/.gitkeep
  tests/core/analyzer/test_abs_analyzer.py
  tests/core/generator/.gitkeep
  tests/core/generator/test_abs_generator.py
  tests/core/report/.gitkeep
  tests/core/report/test_abs_report.py
  tests/simulator/.gitkeep
  tests/simulator/test_abs_simulator.py
Owners: @takesei

:art: Fix luck documents
  tagupy/core/analyzer/abs_analyzer.py
  tagupy/core/report/abs_report.py
  tagupy/simulator/abs_simulator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:art: Fix typo and :bug:
  tagupy/core/generator/abs_generator.py
  tagupy/core/report/abs_report.py
  tagupy/simulator/abs_simulator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: Fix document
  tagupy/core/generator/abs_generator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: fix docs
  tagupy/core/generator/abs_generator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: Change class name
  tagupy/core/analyzer/abs_analyzer.py
  tagupy/core/analyzer/analysis_result.py
  tagupy/core/analyzer/analyze_result.py
  tagupy/core/report/abs_report.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:bug: Fix typo
  tagupy/core/generator/abs_generator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:bug: :bug: :apple: :hankey:
  tagupy/core/analyzer/abs_analyzer.py
  tagupy/simulator/abs_simulator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: Fix typo
  tagupy/core/analyzer/abs_analyzer.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:wrench: Remove python version
  .gitignore
  .python-version
Owners: @taka-sho

:recycle: Change package name
  tagupy/core/__init__.py
  tagupy/core/analyzer/__init__.py
  tagupy/core/analyzer/_abs_analyzer.py
  tagupy/core/analyzer/_analysis_result.py
  tagupy/core/generator/__init__.py
  tagupy/core/generator/_abs_generator.py
  tagupy/core/report/__init__.py
  tagupy/core/report/_abs_report.py
  tagupy/manager/__init__.py
  tagupy/simulator/__init__.py
  tagupy/simulator/_abs_simulator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Create typing dir
  tagupy/core/analyzer/__init__.py
  tagupy/core/analyzer/_abs_analyzer.py
  tagupy/core/report/_abs_report.py
  tagupy/typing/__init__.py
  tagupy/typing/_analysis_result.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Replace alias matrix
  tagupy/__init__.py
  tagupy/utils/__init__.py
  tagupy/utils/_functions.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:wrench: Support doctest
  Makefile
  tox.ini
Owners: @takesei

:bug: Fix typo and name likely to be understood
  tagupy/core/analyzer/_abs_analyzer.py
  tagupy/core/report/_abs_report.py
  tagupy/type/__init__.py
  tagupy/type/_analysis_result.py
  tagupy/utils/_functions.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: Change module name, Report → Reporter
  tagupy/__init__.py
  tagupy/core/report/__init__.py
  tagupy/core/reporter/__init__.py
  tagupy/core/reporter/_abs_reporter.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: Change typefile location
  tagupy/core/analyzer/__init__.py
  tagupy/core/generator/__init__.py
  tagupy/core/reporter/__init__.py
  tagupy/simulator/__init__.py
  tagupy/type/_abs_analyzer.py
  tagupy/type/_abs_generator.py
  tagupy/type/_abs_reporter.py
  tagupy/type/_abs_simulator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:wastebasket: Rollback 'core' namaspace
  tagupy/__init__.py
  tagupy/core/__init__.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: Change namespace, core become design
  Makefile
  tagupy/__init__.py
  tagupy/design/__init__.py
  tagupy/design/analyzer/__init__.py
  tagupy/design/generator/__init__.py
  tagupy/design/reporter/__init__.py
  tests/conftest.py
  tests/design/analyzer/.gitkeep
  tests/design/generator/.gitkeep
  tests/design/report/.gitkeep
Owners: @takesei, @yo-aka-gene, @gk-hazard

:bug: Fix format
  tagupy/utils/_functions.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: Update docs with new namespace
  docs/tagupy.design.analyzer.rst
  docs/tagupy.design.generator.rst
  docs/tagupy.design.reporter.rst
  docs/tagupy.design.rst
  docs/tagupy.manager.rst
  docs/tagupy.rst
  docs/tagupy.simulator.rst
  docs/tagupy.type.rst
  docs/tagupy.utils.rst
Owners: @taka-sho

:bug: fix typo
  tests/design/reporter/.gitkeep
Owners: @takesei

:sparkles: add fullfactorial and its test
  tagupy/core/generator/__init__.py
  tagupy/core/generator/fullfact.py
  tagupy/type/__init__.py
  tagupy/type/_abs_analyzer.py
  tagupy/type/_abs_reporter.py
  tests/core/generator/test_fullfact.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

modify fullfact and its test
  tagupy/core/generator/fullfact.py
  tests/core/generator/test_fullfact.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:banana: minor update fullfact and its test
  tagupy/core/generator/fullfact.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: fix conflict & minor update
  tagupy/core/generator/__init__.py
  tagupy/design/generator/__init__.py
  tagupy/design/generator/fullfact.py
  tests/design/generator/test_fullfact.py
  tox.ini
Owners: @takesei, @yo-aka-gene, @gk-hazard

:wrench: Remove per-file-ignores, set config file @reviewdg
  .github/workflows/quality_checks.yml
  tagupy/design/generator/fullfact.py
  tox.ini
Owners: @taka-sho, @takesei, @yo-aka-gene, @gk-hazard

:wrench: Fix working directory
  .github/workflows/quality_checks.yml
Owners: @taka-sho

:wrench: Change tox configuration, github workdir
  .github/workflows/quality_checks.yml
  Makefile
  tox.ini
Owners: @taka-sho, @takesei

:sparkles: Update the algorithm in FullFact
  tagupy/design/generator/fullfact.py
  tests/design/generator/test_fullfact.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: minor update of fullfact and its test
  tagupy/design/generator/__init__.py
  tagupy/design/generator/_fullfact.py
  tests/design/generator/test_fullfact.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: minor update of _fullfact
  Makefile
  tagupy/design/generator/_fullfact.py
  tests/design/generator/test_fullfact.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: minor update of fullfact test
  tests/design/generator/test_fullfact.py
Owners: @takesei

:sparkles: :recycle: add get_alias_matrix and refactoring
  tagupy/design/generator/onehot.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:construction: add init and get_exmatrix for OneHot
  .python-version
  tagupy/core/__init__.py
  tagupy/design/generator/onehot.py
  tests/design/generator/test_onehot.py
Owners: @taka-sho, @takesei, @yo-aka-gene, @gk-hazard

:bug: fixed bugs (removed fs before strs)
  tagupy/design/generator/onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

.github/CODEOWNERS:

* @taka-sho

/tagupy @takesei @yo-aka-gene @gk-hazard
/tests @takesei

Makefile @takesei
pyproject.toml @takesei
tox.ini @takesei
