Repository algebra-club/TaguPy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taka-sho, @takesei, @yo-aka-gene, @gk-hazard

.github/CODEOWNERS:

* @taka-sho

/tagupy @takesei @yo-aka-gene @gk-hazard
/tests @takesei

Makefile @takesei
pyproject.toml @takesei
tox.ini @takesei

feat(workflows/lint) lint check using CI
  .github/workflows/lint.yml
Owners: @taka-sho

feat(workflows/lint) install poetry
  .github/workflows/lint.yml
Owners: @taka-sho

feat(wowkflows/QC) check all of test
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) install tox to test
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workwflows/QC) test without tox
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) install deps to test
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) set v3.7 to lint
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) check coverage
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) report coverage to timeline
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) run coverage before report
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) indent
  .github/workflows/quality_checks.yml
Owners: @taka-sho

test(workflows/QC) report check
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) report coverage
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) report coverage using commentator
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) remove comment report
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(.python-version) register .python-version
  .gitignore
  .python-version
Owners: @taka-sho

feat(workflows/QC) check multiple python versions
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) use tox-gh-actions
  .github/workflows/quality_checks.yml
  tox.ini
Owners: @taka-sho, @takesei

deps: install tox-gh-actions
  .github/workflows/quality_checks.yml
  poetry.lock
  pyproject.toml
Owners: @taka-sho, @takesei

feat(workflows/QC) report coverage using codecov
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) generate xml coverage file
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) can generate report correctly
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) set coverage file
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) add reviewdog
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) set lint directry correctly
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) set config correctly
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) set single setting for reviewdog
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) set v3.9 for lint and coverage
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) set codocov token
  .github/workflows/quality_checks.yml
Owners: @taka-sho

feat(workflows/QC) restrict run branch
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) load secrets correctly
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) set tirigger correctly
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) set pull_request trigger
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(workflows/QC) set hook branch: main
  .github/workflows/quality_checks.yml
  tox.ini
Owners: @taka-sho, @takesei

feat(workflows/QC) set python version using env
  .github/workflows/quality_checks.yml
Owners: @taka-sho

fix(.python-versions) set empty version
  .python-version
Owners: @taka-sho

fix(workflows/QC) unset strategy to env
  .github/workflows/quality_checks.yml
Owners: @taka-sho

:books: Add GithubActions badge
  README.rst
Owners: @taka-sho

:wrench: setting for directory hierarchial structure
  tagupy/core/analyser/__init__.py
  tagupy/core/analyser/stats_analysis.py
  tagupy/core/generator/__init__.py
  tagupy/core/generator/matrix_generator.py
  tagupy/manager/__init__.py
  tagupy/simulator/__init__.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: :rotating_light: change directory structure
  tagupy/__init__.py
  tagupy/core/__init__.py
  tagupy/core/analyser/__init__.py
  tagupy/core/analyzer/_abs_analyzer.py
  tagupy/core/generator/__init__.py
  tagupy/core/generator/_abs_generator.py
  tagupy/core/report/_abs_report.py
  tagupy/simulator/__init__.py
  tagupy/simulator/_abs_simulator.py
  tests/core/analyzer/_test_abs_analyzer.py
  tests/core/generator/_test_abs_generator.py
  tests/core/report/_test_abs_report.py
  tests/manager/.gitkeep
  tests/simulator/_test_abs_simulator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard
