Repository algebra-club/TaguPy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taka-sho, @takesei, @yo-aka-gene, @gk-hazard

:recycle: delete _pb_ref from __all__ in __init__.py
  tagupy/design/generator/__init__.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: generalized _pbX func
  tagupy/design/generator/_pb_ref.py
  tagupy/design/generator/_plackettburman.py
  tests/design/generator/test_pb_ref.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: separete dict for _pbX func
  tagupy/design/generator/_pb_ref.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: minor update
  tagupy/design/generator/_pb_ref.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Add cookiecutter, project generator
  poetry.lock
  pyproject.toml
  tagupy/cli.py
  tagupy/template/cookiecutter.json
  tagupy/template/{{cookiecutter.prj_name}}/config.toml
Owners: @taka-sho, @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Add wrapper generator methods
  tagupy/manager/__init__.py
  tagupy/manager/_generator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:wrench: Change directory
  pyproject.toml
  tagupy/manager/__init__.py
  tagupy/manager/cli.py
  tagupy/manager/commands/__init__.py
  tagupy/manager/commands/generator.py
  tagupy/utils/_validators.py
  tests/manager/test_cli.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Add New command
  tagupy/cli.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: Cange file name
  tagupy/manager/__init__.py
  tagupy/manager/generator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Add PositiveInt(List) type for CLI validation
  tagupy/type/__init__.py
  tagupy/type/_click.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Fix type annotations
  Makefile
  poetry.lock
  pyproject.toml
  tox.ini
Owners: @takesei, @taka-sho

:bug: Fix Namespaces
  tagupy/manager/commands/__init__.py
  tagupy/manager/commands/_generate.py
  tagupy/manager/generator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:bug: Fix lint
  tagupy/manager/commands/__init__.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Fix structures
  pyproject.toml
  tagupy/cli.py
  tagupy/manager/generator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Add test
  tagupy/cli.py
  tagupy/command/__init__.py
  tagupy/command/_generate.py
  tagupy/type/_click.py
  tests/manager/.gitkeep
  tests/manager/test_generator.py
  tests/test_cli.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:rotating_light: Add Cli Test
  tagupy/cli.py
  tests/test_cli.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:rotating_light: fix coverage
  tagupy/manager/generator.py
  tests/manager/test_generator.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: changed pylint setting
  tagupy/design/generator/_pb_ref.py
  tox.ini
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: add ValueError implement
  tagupy/design/generator/_pb_ref.py
  tests/design/generator/test_pb_ref.py
  tests/design/generator/test_plackettburman.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: add description for ValueError message
  tagupy/design/generator/_pb_ref.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:wrench: add statsmodels to dependencies list
  poetry.lock
  tagupy/design/analyzer/_lra.py
Owners: @taka-sho, @takesei, @yo-aka-gene, @gk-hazard

:wrech: add statsmodels to dependencies list
  pyproject.toml
Owners: @takesei

:sparkles: add analyze() func
  tagupy/design/analyzer/_lra.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: add LinRegResult class
  tagupy/design/analyzer/_lra.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: :construction: add docstring
  tagupy/design/analyzer/_lra.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: meet requirements in pr
  tagupy/design/analyzer/__init__.py
  tagupy/design/analyzer/_la.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

fix(analyzer/MET/test) init with n_dim
  tagupy/design/analyzer/_met.py
  tests/design/analyzer/test_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

rename(analyzer/MET) rename MET file
  tagupy/design/analyzer/__init__.py
  tagupy/design/analyzer/_met.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

style(design/analyzer/MET) add operator whitespace
  tagupy/design/analyzer/_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

feat(analyzer/MET) do not use analysis_result abc
  tagupy/design/analyzer/_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

reanme(analyzer/MET) test file name
  tests/design/analyzer/test_met.py
Owners: @takesei

feat(analyzer/MET) add n_dim
  tagupy/design/analyzer/_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

fix(analyzer/test_MET) remove unnecessary f-string
  tests/design/analyzer/test_maineffecttable.py
Owners: @takesei

feat(analyzer/MET) add assert and test
  tagupy/design/analyzer/_maineffecttable.py
  tests/design/analyzer/test_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

fix(analyzer/MET) convert to clearly matrix
  tagupy/design/analyzer/_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

fix(analyzer/MET) describe
  tagupy/design/analyzer/_met.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

feat(analyzer/MET) return analysis_result using namedtuple
  tagupy/design/analyzer/_maineffecttable.py
  tests/design/analyzer/test_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

fix(analyzer/MET) inherit analysis_result correctly
  tagupy/design/analyzer/_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

feat(test/analyzer/MET) add tests
  tagupy/design/analyzer/__init__.py
  tests/design/analyzer/test_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

grammer(analyzer/MET) fix describe
  tagupy/design/analyzer/_maineffecttable.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

.github/CODEOWNERS:

* @taka-sho

/tagupy @takesei @yo-aka-gene @gk-hazard
/tests @takesei

Makefile @takesei
pyproject.toml @takesei
tox.ini @takesei
