Repository algebra-club/TaguPy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taka-sho, @takesei, @yo-aka-gene, @gk-hazard

:recycle: refined test_onehot.py
  tagupy/core/__init__.py
  tagupy/design/generator/__init__.py
  tagupy/design/generator/_onehot.py
  tagupy/design/generator/onehot.py
  tagupy/type/__init__.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: fixed bugs in get_exmatrix()
  tagupy/design/generator/_onehot.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:bug: fix conflicts
  tagupy/type/__init__.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:construction: changed the way of import module
  tagupy/design/generator/_onehot.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: add docstring to get_exmatrix()
  tagupy/design/generator/_onehot.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: deleted get_alias_matrix from docstring
  tagupy/design/generator/_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:wrench: Remove pythonversion
  .python-version
Owners: @taka-sho

:recycle: resolved problem in test_onehot
  tests/design/generator/test_onehot.py
Owners: @takesei

:recycle: fixed problems commented in PullRequest
  tagupy/design/generator/_onehot.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: resolved issues argued in pr comments
  tests/design/generator/test_onehot.py
Owners: @takesei

:recycle: delete example for errors in docstr
  tagupy/design/generator/_onehot.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: Add util function for redundant assertion
  tagupy/utils/_validators.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: Updat assertions with utils.validators
  tagupy/design/generator/_fullfact.py
  tagupy/design/generator/_onehot.py
  tagupy/utils/__init__.py
  tests/design/generator/test_fullfact.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: ReDefine AnalysisResult as ABC
  tagupy/type/_abs_analyzer.py
  tagupy/type/_abs_reporter.py
  tagupy/type/_analysis_result.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:book: Update docstring with OneHot module
  tagupy/utils/_functions.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: Fix format
  tagupy/type/_analysis_result.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:art: Fix format
  tagupy/utils/__init__.py
  tagupy/utils/_validators.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: Change docstring
  tagupy/type/_analysis_result.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

[Type] Update AnalysisResult (#19)
  tagupy/type/_abs_analyzer.py
  tagupy/type/_abs_reporter.py
  tagupy/type/_analysis_result.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

[Feat/utils] Add validation functions for assertions (#18)
  tagupy/design/generator/_fullfact.py
  tagupy/design/generator/_onehot.py
  tagupy/utils/__init__.py
  tagupy/utils/_validators.py
  tests/design/generator/test_fullfact.py
  tests/design/generator/test_onehot.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: Add beta version note
  README.rst
Owners: @taka-sho

:book: Update docstring with OneHot module (#20)
  tagupy/utils/_functions.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:books: Add beta version note (#21)
  README.rst
Owners: @taka-sho

:sparkles: Add mypy, type checker
  .gitignore
  Makefile
  poetry.lock
  pyproject.toml
  tox.ini
Owners: @taka-sho, @takesei

:recycle: Ignore untyped libraries
  pyproject.toml
Owners: @takesei

:sparkles: Update lockfile
  poetry.lock
Owners: @taka-sho

:wastebasket: remove from tox
  tox.ini
Owners: @takesei

:recycle: Change returning type of AnalysisResult
  tagupy/design/generator/_onehot.py
  tagupy/type/_abs_analysis_result.py
  tagupy/type/_abs_analyzer.py
  tagupy/type/_abs_reporter.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:bug: Fix namespace
  tagupy/type/__init__.py
  tagupy/type/_abs_analyzer.py
  tagupy/type/_abs_reporter.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: Change returning type of AnalysisResult (#24)
  tagupy/design/generator/_onehot.py
  tagupy/type/__init__.py
  tagupy/type/_abs_analysis_result.py
  tagupy/type/_abs_analyzer.py
  tagupy/type/_abs_reporter.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: Remove _AnalysisResult
  tagupy/type/__init__.py
  tagupy/type/_abs_analysis_result.py
  tagupy/type/_abs_analyzer.py
  tagupy/type/_abs_reporter.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:construction: edit __init__.py
  tagupy/design/analyzer/__init__.py
  tagupy/design/analyzer/_lra.py
  tests/design/analyzer/test_lra.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: add lra.py and test_lra.py
  tagupy/design/analyzer/_lra.py
  tests/design/analyzer/test_lra.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:construction: add _pb_ref, _plackettburman and their tests
  tagupy/design/generator/__init__.py
  tagupy/design/generator/_pb_ref.py
  tagupy/design/generator/_plackettburman.py
  tests/design/generator/test_pb_ref.py
  tests/design/generator/test_plackettburman.py
  tox.ini
Owners: @takesei, @yo-aka-gene, @gk-hazard

:sparkles: add PlackettBurman Design Module
  tagupy/design/analyzer/__init__.py
  tagupy/design/analyzer/_lra.py
  tests/design/analyzer/test_lra.py
  tests/design/generator/test_plackettburman.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: add docstring
  tagupy/design/generator/_plackettburman.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: add dockstring in _plackettburman
  tagupy/design/generator/_plackettburman.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: converted np -> numpy in error msg and docstring
  tagupy/design/generator/_plackettburman.py
  tests/design/generator/test_pb_ref.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: add circulant matirix generating func
  tagupy/design/generator/_pb_ref.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

:recycle: resolved some issues suggested in comments
  tagupy/design/generator/_pb_ref.py
  tagupy/design/generator/_plackettburman.py
Owners: @takesei, @yo-aka-gene, @gk-hazard

.github/CODEOWNERS:

* @taka-sho

/tagupy @takesei @yo-aka-gene @gk-hazard
/tests @takesei

Makefile @takesei
pyproject.toml @takesei
tox.ini @takesei
